@model ForexApp.Models.IndividualNote

<div class="large-12 medium-12 columns" id="IndividualNotesList">
    <h2 class="modalTitle">Mis notas</h2>
    <p class="lead">Listado</p>
    <span id="loadImg"></span>  

    <table id="gridsNotes"></table>
</div>


@Scripts.Render("~/bundles/grids")