
<div class="large-12 medium-12 columns" id="RatesNotesList">
    <h2 class="modalTitle">Comparación</h2>
    <p class="lead">Datos actuales de la divisa con los del día 1 del mes</p>
    <span id="loadImgCompare"></span>  

    <table>
        <thead>
        <tr>
            <th>Divisa</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Spread</th>
            <th>Hora</th>
        </tr>
        </thead>
        <tbody id="tableCompare">

        </tbody>
    </table>

    <button id="infoSendRate" class="close medium button">Aceptar</button>
</div>

@Scripts.Render("~/bundles/grids")