
<h2>Tutorial:</h2>
<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
    El precio <b>Bid</b> es el precio al cual el mercado está dispuesto a <b>comprar</b>, por lo tanto es el precio al cual usted puede vender un par de divisas.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>

<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
    El precio <b>Ask</b> es el precio al cual el mercado está dispuesto a <b>vender</b>, por lo tanto es el precio al cual usted puede comprar un par de divisas.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>

<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
    El <b>Spread</b> es la diferencia entre el <b>Ask</b> y el <b>Bid</b>. Es la ganancia que obtiene el broker en cada transacción.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>
<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
    Es posible crear notas sobre lo que se aprecia en la tabla pulsando el botón "Crear nota", y posteriormente ver el listado
    de las mismas pulsando el botón "Mis notas".
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>
<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
    También puedes crear una nota con los valores de una divisa en concreto pinchando sobre sus iniciales.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>


@Html.Partial("Index")