
<h2>Tutorial:</h2>
<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
    Para obtener datos comparativos (a día 1 de cada mes) de una divisa con el EUR y mostrarlo en gráficas, selecciona la divisa a comparar y el año.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>

<div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
    Si quieres mostrar en gráficas el cambio cruzado del EUR con respecto a otras divisas en una fecha en concreto, selecciona la fecha y pulsa aceptar.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>

<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
    Si pasas el cursor sobre las gráficas, aparece el detalle de los datos.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>
<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
    Es posible imprimir o exportar como imagen cada gráfica pulsando sobre el icono de arriba a la derecha de cada una.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>
<div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
    También se pueden ocultar los elementos de las gráficas pulsando sobre las leyendas.
    <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
</div>


@Html.Partial("Index")
