<div class="large-12 medium-12 columns" id="ExchangeList">
    <h2 class="modalTitle">Conversiones</h2>
    <p class="lead">Listado</p>
    <span id="loadImgListExchange"></span>  

    <table id="gridsExchange"></table>
</div>


@Scripts.Render("~/bundles/grids")
