
    <h2>Tutorial:</h2>
    <div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
        Es posible convertir el valor de una divisa con respecto a otra. Hay 18 divisas disponibles.
        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>

    <div data-alert class="alert-box info" tabindex="0" aria-live="assertive" role="alertdialog">
        Las consultas se registran en la base de datos para su posterior visualización.
        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>

    <div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
        El resultado de la conversión se muestra en un diagrama en el cual, cada color aporta una información.
        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>
    <div data-alert class="alert-box warning" tabindex="0" aria-live="assertive" role="alertdialog">
        Debajo del resultado de la conversión se puede observar el símbolo de la divisa en cuestión.
        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>

@Html.Partial("Index")