@{
    ViewBag.Title = "EXPERIENCIA PROFESIONAL";
}

<div class="large-8 medium-8 columns">

            <hgroup class="title">
                <h2 class="cvTitle">@ViewBag.Title</h2>
            </hgroup>

            <article class="panel">
                <p class="lead">Analista Programador Frontend en Ibermática (Enero 2016 – Febrero 2016)</p>
                <p>
                    Proyecto web para Telefónica. Lenguajes, frameworks, herramientas y otros: Javascript, Angular.js, Jasmine, Bootstrap, HTML5, CSS3, Servicios REST, Maven, Jenkins, Clarive, SonarQube, Java, SoapUI.        
                </p>
            </article>

            <article class="panel">
                <p class="lead">Analista/Programador Frontend en BBVA (Enero 2015 – Enero 2016)</p>
                <p>
                  Desarrollo y refactoring de la actual aplicación web móvil para clientes, y webview para versiones Nativas.(Single Page Application). Desarrollo íntegro de la funcionalidad (entre otras) “Trae tus recibos a BBVA” (<a target="_blank" href="https://goo.gl/ocJGKj">Vídeo aquí</a>). Lenguajes, frameworks, herramientas y otros: Para desarrollo: Javascript, JQuery, Ember.js, HTML5, Bootstrap, Grunt, Gulp, (esLint, sass, karma, poltergeist, phantom...), Git, Scrum, Jira. Para testing: Gherkin, Ruby, Cucumber, Capybara.  
                </p>
            </article>

            <article class="panel">
                <p class="lead">Programador web (Backend y Frontend) en Grupo Arelance (Marzo 2014 – Diciembre 2014)</p>
                <p>
                   Desarrollo y refactoring de aplicaciones web para el CRM del cliente Konecta. Lenguajes, frameworks, herramientas y otros: PHP, Yii, HTML5, CSS3, Javascript, jQuery, Bootstrap, Netbeans, Jasper Reports, IBM DB2, Squirrel SQL, Git, Scrum, WebServices, REST, Selenium, CLOB PHP Management. 
                </p>
            </article>

            <article class="panel">
                <p class="lead">Programador Frontend en Restaurantes.com (Julio 2013 – Octubre 2013)</p>
                <p>
                   Encargado de la maquetación web y refactoring de la versión móvil de la web de la empresa, y del restyle de la versión de escritorio. Lenguajes, bibliotecas y frameworks: HTML5, CSS3 (960grids, blueprint), PHP, Javascript (jQuery). Otros: Responsive Web Design, PHP Storm, Git, Photoshop, Scrum. 
                </p>
            </article>

            <article class="panel">
                <p class="lead">Desarrollador web, técnico de mantenimiento y SEO en WebYa</p>
                <p>
                   Elaboración de páginas web, tareas de SEO, mantenimiento y backups. Lenguajes y herramientas: HTML5, CSS3, PHP, Joomla!, Prestashop, Photoshop. 
                </p>
            </article>

            <article class="panel">
                <p class="lead">Analista/Programador Android - Freelance (Mayo 2013 – Agosto 2013)</p>
                <p>
                   Captura de requisitos, análisis, diseño e implementación de una APP Android. Elaboración de la documentación. Lenguajes y herramientas: JAVA, Eclipse, Android SDK, PHP, MySQL, Photoshop, UML, Smartdraw. 
                </p>
            </article>

            <article class="panel">
                <p class="lead">Analista programador en freedôm Ingeniería, Domótica y Telecomunicaciones (Enero 2012 – Abril 2013)</p>
                <p>
                   Encargado de análisis, planificación y desarrollo de un proyecto web destinado al control domótico. Estudio y documentación de técnicas, frameworks y lenguajes. Lenguajes de programación, frameworks y herramientas: HTML5, CSS3, Responsive Web Design, Javascript, Backbone.js, Bootsptrap, Kendo.ui, jQuery, AJAX, PHP, CodeIgniter, MySQL, Adobe Photoshop, Modbus, UML 
                </p>
            </article>

            <article class="panel">
                <p class="lead">Otra experiencia laboral:</p>
                <p>
                   Venta a través de Internet y varios empleos no relacionados con la informática y si relacionados con trato al cliente.
                </p>
            </article>

            

            <hgroup class="title">
                <h2 class="cvTitle">FORMACIÓN ACADÉMICA</h2>
            </hgroup>
            <article class="panel">
    
                
                <p>
                    <ul>
                        <li>Especialista en desarrollo de aplicaciones Web con tecnología .NET (actualmente).</li>
                        <li>Curso Gestión de Proyectos: PMI, por la Universidad de Salamanca (año 2016).</li>
                        <li>Ingeniero Técnico en Informática de Sistemas por la Universidad de Salamanca (año 2012).</li>
                        <li>Curso Metodologías avanzadas para el diseño y defensa de un proyecto, por la Universidad de Salamanca (año 2009).</li>
                        <li>Curso de Prevención de Riesgos Laborales en Faster Ibérica (año 2007).</li>
                        <li>Curso de Avances de Seguridad en Internet por la Universidad de Salamanca (año 2006).</li>
                        <li>Certificado europeo A2 en inglés - Escuela Oficial de Idiomas (cursando B1 actualmente).</li>
                    </ul>       
                </p>
            </article>


            <hgroup class="title">
                <h2 class="cvTitle">IDIOMAS</h2>
            </hgroup>
            <article class="panel">
                
                <p>
                    <ul>
                        <li>Español/Castellano nativo.</li>
                        <li>Inglés nivel medio.</li>
                    </ul>       
                </p>
            </article>
</div>
<div class="large-4 medium-4 columns">
    <h3 class="animated zoomIn">Pará más información...</h3>
    <img class="logContact" src="@Url.Content("~/Content/img/contacta.png")" />
    @Html.ActionLink("Contacta conmigo", "Contact", "Home", new { @class = "medium button success"})</>

    <div class="row">
        <div class="callout panel">
            <img id="myPhoto" src="@Url.Content("~/Content/img/myPhoto.jpg")" />
            <h5 id="myName">Víctor Enrique Elena Redondo
            </h5>
        </div>
    </div>

    <hgroup class="title">
            <h2 class="cvTitle">APTITUDES Y CONOCIMIENTOS</h2>
        </hgroup>
        <article class="panel">
                
            <h5>Lenguajes, bibliotecas, frameworks, etc:</h5>
            <p>
                <ul>
                    <li>UML.</li>
                    <li>PHP (CodeIgniter, Yii), PERL.</li>
                    <li>JAVA (SWING, JDBC, Apache Derby, Android).</li>
                    <li>C, C++, C# (.NET)</li>
                    <li>Javascript (JQuery, AJAX, Angular.js, Backbone.js, Ember.js, Bootstrap), XML, JSON.</li>
                    <li>HTML5, CSS3 (960grid, blueprint).</li>
                    <li>SQL, MySQL, IBM DB2.</li>
                    <li>Entornos de desarrollo matemático: MATLAB y Mathematica.</li>
                    <li>Gherkin, Ruby, Cucumber, Capybara, Jasmine.</li>
                </ul>       
            </p>
        </article>

        <article class="panel">
            <h5>Técnicas, plataformas y otras herramientas:</h5>
            <p>
                <ul>
                    <li>Responsive Web Design, Single Page Applications.</li>
                    <li>Netbeans, Eclipse, PHP Storm, Visual Studio</li>
                    <li>Android (APP’s).</li>
                    <li>Adobe Creative Suite: Photoshop, etc.</li>
                    <li>Joomla!, Wordpress y PrestaShop.</li>
                    <li>Git, SVN.</li>
                    <li>SEO.</li>
                    <li>SCRUM, Jira, Trello.</li>
                    <li>Squirrel SQL.</li>
                    <li>Jasper Reports.</li>
                    <li>WebServices, REST.</li>
                    <li>Jenkins, Bamboo, SonarQube.</li>
                    <li>Grunt, Gulp, Maven.</li>
                </ul>       
            </p>
        </article>

        <article class="panel">
            <h5>Hardware y otros:</h5>
            <p>
                <ul>
                    <li>Reparación de PC's y modificación de videoconsolas PSP.</li>
                    <li>Domótica y automatización (PLCs, actuadores, KNX, Modbus…)</li>
                </ul>       
            </p>
        </article>


        <article class="panel">
            <h5>Ofimática:</h5>
            <p>
                <ul>
                    <li>Nivel alto en Microsoft Office y Open Office para procesador de textos, hojas de cálculo, presentaciones...</li>
                </ul>       
            </p>
        </article>

        <hgroup class="title">
            <h2 class="cvTitle">OTRA INFORMACIÓN</h2>
        </hgroup>
        <article class="panel">
                
            <p>
                <ul>
                    <li>Habilidades sociales, flexibilidad, adaptabilidad y trabajo en grupo.</li>
                    <li>Permiso de conducción tipo B con vehículo propio.</li>
                    <li>Pasión por las nuevas tecnologías y por documentar.</li>
                    <li>En continua formación.</li>
                    <li>Afición por el deporte.</li>
                </ul>       
            </p>
        </article>
</div>